body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
}

#options-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    margin-top: 20px;
}

#next-button{
    background-color: darkslategray;
    margin: 5px;
}
